<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
﻿@model WuliKaWu.Data.Product
=======
﻿@*@model WuliKaWu.Data.Product*@
@model WuliKaWu.Models.ApiModel.ProductModel
>>>>>>> [修正]商品編輯檢視頁面的儲存編輯按鈕連動
=======
@*@model WuliKaWu.Data.Product*@
@*@model WuliKaWu.Models.ApiModel.ProductModel*@
>>>>>>> [更新]將商品編輯的檢視改為用Vue(點擊儲存編輯的功能尚未完成)
=======

>>>>>>> [更新]將商品修改及商品明細的檢視頁面改用Vue綁定(未解決:按鍵綁定尚未成功以及圖片預覽失效)

>>>>>>> [更新] 資料庫資料表
@{
    ViewData["Title"] = "Edit";
}

<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<div id="EditProduct">
    <div class="container m-5">
        <div class="section-title-4 text-center mb-55" data-aos="fade-up" data-aos-delay="200">
            <h2>Edit Product</h2>
        </div>

        <div class="shop-bottom-area">
            <div class="tab-content jump">
                <div class="shop-list-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                        <div class="col-lg-4 col-sm-5">
                            <div class="product-list-img">

                                @*商品圖片*@
                                <a href="">
                                    @*<img src="@Url.Content(Model.PicturePath)" id="imagePreview" alt="Product Picture" />*@
                                    <img :src="productFields.picturePath" id="picturePath" alt="Product Picture" />
<<<<<<< HEAD
                                </a>
                            </div>

                            <div class="mt-5">
                                @*<a asp-action="Index">Back to List</a>*@
                                <a href="/Products/Index">Back to List</a>
                            </div>
                        </div>

                        <div class="col-lg-8 col-sm-7 contact-form-style">
                            <div class="shop-list-content">

                                @*商品內容*@
                                <form>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group" hidden>
                                                <label for="ProductId" class="control-label">ProductId</label>
                                                <input id="ProductId" name="ProductId" class="form-control" v-model="productFields.productId" />
                                            </div>

                                            <div class="form-group">
                                                <label for="ProductName" class="control-label">ProductName</label>
                                                <input id="ProductName" name="ProductName" class="form-control" v-model="productFields.productName"  />
                                            </div>

                                            <div class="form-group">
                                                <label for="Color" class="control-label">Color</label>
                                                <input id="Color" name="Color" class="form-control" v-model="productFields.color" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Size" class="control-label">Size</label>
                                                <input id="Size" name="Size" class="form-control" v-model="productFields.size"/>
                                            </div>

                                            <div class="form-group">
                                                <label for="Price" class="control-label">Price</label>
                                                <input id="Price" name="Price" class="form-control" v-model="productFields.price" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Discount" class="control-label">Discount</label>
                                                <input id="Discount" name="Discount" class="form-control" v-model="productFields.discount" />
                                            </div>

                                            <div class="form-group">
                                                <label for="SellingPrice" class="control-label">SellingPrice</label>
                                                <input id="sellingPrice" name="SellingPrice" class="form-control" v-model="productFields.sellingPrice" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Category" class="control-label">Category</label>
                                                <input id="Category" name="Category" class="form-control" v-model="productFields.category" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Tag" class="control-label">Tag</label>
                                                <input id="Tag" name="Tag" class="form-control" v-model="productFields.tag"/>
                                            </div>
                                        </div>

                                        <div class="col-6">
                                            @*商品圖片預覽*@
                                            <div class="form-group">
                                                <label for="PicturePath" class="control-lable">PicturePath</label>
                                                <input class="form-control" type="file" id="fileupload" name="PicturePath" onchange="ShowImagePreview(this)" />
                                                <img src="/images/product-5.png" id="imagePreview" alt="Product Style" width="360px" height="410px">
                                                @*<img :src="product.picturePath" id="imagePreview" alt="Product Picture" width="360" height="410px"/>*@
                                            </div>

                                            @*儲存編輯按鍵*@
                                            <div class="col-lg-12 col-md-3 ms-60 p-80 contact-form-style">
                                                <div class="col-lg-12 col-md-12 col-12 p-4 pe-0 contact-us-btn btn-hover">
                                                    <div>
                                                        <button type="button" class="submit" v-on:click="saveProductChange(@ViewBag.id)">Save Edit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
=======
=======

<div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2 data-aos="fade-up" data-aos-delay="200">Shop</h2>
            <ul data-aos="fade-up" data-aos-delay="400">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
            </ul>
        </div>
    </div>
    <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
        <img src="~/assets/images/banner/breadcrumb-1.png" alt="">
    </div>
    <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
        <img src="~/assets/images/banner/breadcrumb-2.png" alt="">
    </div>
</div>

=======
>>>>>>> [修正] 將Product新增/編輯/刪除的檢視頁面之上方不需要的版面部分刪除
<div id="ProductEdit">
=======
<div id="EditProduct">
>>>>>>> [更新]將商品編輯的檢視改為用Vue(點擊儲存編輯的功能尚未完成)
    <div class="container m-5">
        <div class="section-title-4 text-center mb-55" data-aos="fade-up" data-aos-delay="200">
            <h2>Edit Product</h2>
        </div>

        <div class="shop-bottom-area">
            <div class="tab-content jump">
                <div class="shop-list-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                        <div class="col-lg-4 col-sm-5">
                            <div class="product-list-img">

                                @*商品圖片*@
                                <a href="">
                                    @*<img src="@Url.Content(Model.PicturePath)" id="imagePreview" alt="Product Picture" />*@
                                    <img :src="product.picturePath" id="picturePath" alt="Product Picture" />
=======
>>>>>>> [修改]Edit頁面部分欄位完成(仍有一部分有誤)
                                </a>
                            </div>

                            <div class="mt-5">
                                @*<a asp-action="Index">Back to List</a>*@
                                <a href="/Products/Index">Back to List</a>
                            </div>
                        </div>

                        <div class="col-lg-8 col-sm-7 contact-form-style">
                            <div class="shop-list-content">

                                @*商品內容*@
                                <form>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group" hidden>
                                                <label for="ProductId" class="control-label">ProductId</label>
                                                <input id="ProductId" name="ProductId" class="form-control" v-model="productFields.productId" />
                                            </div>

                                            <div class="form-group">
                                                <label for="ProductName" class="control-label">ProductName</label>
                                                <input id="ProductName" name="ProductName" class="form-control" v-model="productFields.productName"  />
                                            </div>

                                            <div class="form-group">
                                                <label for="Color" class="control-label">Color</label>
                                                <input id="Color" name="Color" class="form-control" v-model="productFields.color" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Size" class="control-label">Size</label>
                                                <input id="Size" name="Size" class="form-control" v-model="productFields.size"/>
                                            </div>

                                            <div class="form-group">
                                                <label for="Price" class="control-label">Price</label>
                                                <input id="Price" name="Price" class="form-control" v-model="productFields.price" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Discount" class="control-label">Discount</label>
                                                <input id="Discount" name="Discount" class="form-control" v-model="productFields.discount" />
                                            </div>

                                            <div class="form-group">
                                                <label for="SellingPrice" class="control-label">SellingPrice</label>
                                                <input id="sellingPrice" name="SellingPrice" class="form-control" v-model="productFields.sellingPrice" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Category" class="control-label">Category</label>
                                                <input id="Category" name="Category" class="form-control" v-model="productFields.category" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Tag" class="control-label">Tag</label>
                                                <input id="Tag" name="Tag" class="form-control" v-model="productFields.tag"/>
                                            </div>

                                        </div>

                                        <div class="col-6">
                                            @*商品圖片預覽*@
                                            <div class="form-group">
                                                <label for="PicturePath" class="control-lable">PicturePath</label>
                                                <input class="form-control" type="file" id="fileupload" name="PicturePath" onchange="ShowImagePreview(this)" />
                                                <img src="/images/product-5.png" id="imagePreview" alt="Product Style" width="360px" height="410px">
                                                @*<img :src="product.picturePath" id="imagePreview" alt="Product Picture" width="360" height="410px"/>*@
                                            </div>

                                            @*儲存編輯按鍵*@
                                            <div class="col-lg-12 col-md-3 ms-60 p-80 contact-form-style">
                                                <div class="col-lg-12 col-md-12 col-12 p-4 pe-0 contact-us-btn btn-hover">
                                                    <div>
                                                        <button type="button" class="submit" v-on:click="saveProductChange(@ViewBag.id)">Save Edit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>


<<<<<<< HEAD
>>>>>>> [更新] ShopContext加入圖片及訂單明細的Dbset 以及將商品編輯的檢視加入表頭
=======



<script>

    //圖片預覽
    function ShowImagePreview(input) {
        if (input.files && input.files[0]) {
           var fname = input.files[0].name;
            var re = /(\.jpg|\.jpeg|\.bmp|\.gif|\.png)$/i;
            if (!re.exec(fname)) {
                alert("Image not supported!");
                $("#fileupload").val("");
                    return false;
            }
            else {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').prop('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    }

    let app = new Vue({
    
        el: "#EditProduct",
        data:
        {
            
            productFields:{
                    productId: "",
                    productName: "",
                    color: "",
                    size: "",
                    category: "",
                    price: "",
                    discount: "",
                    sellingPrice: "",
                    tag: "",
                    picturePath:""
            }

        },

        mounted: function(){
            var self = this;
            fetch("/api/product/getbyid/"+"@ViewBag.id")

            .then(function(response){return response.json()})
            .then(function(result){
                console.log(result);
                //self.product = result;
                self.productFields = result;
                self.productFields.productId = @ViewBag.id;

            })
        },

        methods: 
        {            
                saveProductChange: function (id)
            {
                var self = this;
                self.productFields.productId = @ViewBag.id

                var qureyEditBaseUrl = '/api/product/editbyid/' + '@ViewBag.id';

                fetch(qureyEditBaseUrl ,{
                    method:"POST",
                    headers:{'content-type': 'application/json'},
                    body: JSON.stringify(self.productFields)
                })
                    .then(function(response){return response.json()})
                    .then(function(result){
                        console.log(result);
                    })
            }             
        }

    });


</script>

<<<<<<< HEAD
@*
>>>>>>> [更新]調整商品編輯的檢視頁面(商品圖及儲存修改的按鍵綁定)
<h1>Edit</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
            <div class="form-group">
                <label asp-for="ProductName" class="control-label"></label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PicturePath" class="control-label"></label>
                <input asp-for="PicturePath" class="form-control" />
                <span asp-validation-for="PicturePath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <input asp-for="Comment" class="form-control" />
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StarRate" class="control-label"></label>
                <input asp-for="StarRate" class="form-control" />
                <span asp-validation-for="StarRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag" class="form-control" />
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
>>>>>>> [新增]CheckOut table的ApiModel[修改]原Picture改成PicturePath
            </div>
        </div>
    </div>
</div>

<<<<<<< HEAD
=======
<div>
    <a asp-action="Index">Back to List</a>
</div>*@
=======


>>>>>>> [更正] 給Vue綁定使用的id名稱

>>>>>>> [更新]調整商品編輯的檢視頁面(商品圖及儲存修改的按鍵綁定)
@section Scripts {
<script>

    //圖片預覽
    function ShowImagePreview(input) {
        if (input.files && input.files[0]) {
           var fname = input.files[0].name;
            var re = /(\.jpg|\.jpeg|\.bmp|\.gif|\.png)$/i;
            if (!re.exec(fname)) {
                alert("Image not supported!");
                $("#fileupload").val("");
                    return false;
            }
            else {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imagePreview').prop('src', e.target.result);
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    }

    let app = new Vue({
    
        el: "#EditProduct",
        data:
        {
            
            productFields:{
                    productId: "",
                    productName: "",
                    color: "",
                    size: "",
                    category: "",
                    price: "",
                    discount: "",
                    sellingPrice: "",
                    tag: "",
                    picturePath:""
            }
        },

        mounted: function(){
            var self = this;
            fetch("/api/product/getbyid/"+"@ViewBag.id")

            .then(function(response){return response.json()})
            .then(function(result){
                console.log(result);
                //self.product = result;
                self.productFields = result;
                self.productFields.productId = @ViewBag.id;

            })
        },

        methods: 
        {            
                saveProductChange: function (id)
            {
                var self = this;
                self.productFields.productId = @ViewBag.id

                var qureyEditBaseUrl = '/api/product/editbyid/' + '@ViewBag.id';

                fetch(qureyEditBaseUrl ,{
                    method:"POST",
                    headers:{'content-type': 'application/json'},
                    body: JSON.stringify(self.productFields)
                })
                    .then(function(response){return response.json()})
                    .then(function(result){
                        console.log(result);
                    })
            }             
        }

    });
</script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
