

@{
    ViewData["Title"] = "Edit";
}

<div id="EditProduct">
    <div class="container m-5">
        <div class="section-title-4 text-center mb-55" data-aos="fade-up" data-aos-delay="200">
            <h2>Edit Product</h2>
        </div>

        <div class="shop-bottom-area">
            <div class="tab-content jump">
                <div class="shop-list-wrap mb-30" data-aos="fade-up" data-aos-delay="200">
                    <div class="row">
                        <div class="col-lg-4 col-sm-5">
                            <div class="product-list-img">

                                <a href="">
                                    @*<img src="~/assets/images/product/product-5.png" id="imagePreview" alt="Product Style">*@
                                    @*<img src="@Url.Content(Model.PicturePath)" id="imagePreview" alt="Product Picture" />*@
                                    <img :src="product.picturePath" id="picturePath" alt="Product Picture" />

                                </a>

                            </div>

                            <div class="mt-5">
                                @*<a asp-action="Index">Back to List</a>*@
                                <a href="/Products/Index">Back to List</a>
                            </div>

                        </div>
                        <div class="col-lg-8 col-sm-7 contact-form-style">
                            <div class="shop-list-content">

                                @*<form v-on:submit.prevent="mySubmit" action="Edit" method="post">*@
                                <form action="/api/product/editbyid">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="form-group" hidden>
                                                <label for="ProductId" class="control-label">ProductId</label>
                                                @*<input class="form-control" id="productId" name="ProductName" v-model="productId"/>*@
                                                <input id="ProductId" name="ProductId" class="form-control" v-model="productFields.productId" />
                                            </div>

                                            <div class="form-group">
                                                <label for="ProductName" class="control-label">ProductName</label>
                                                <input id="ProductName" name="ProductName" class="form-control" v-model="productFields.productName" :placeholder="product.productName" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Color" class="control-label">Color</label>
                                                <input id="Color" name="Color" class="form-control" v-model="productFields.color" :placeholder="product.color" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Size" class="control-label">Size</label>
                                                <input id="Size" name="Size" class="form-control" v-model="productFields.size" :placeholder="product.size" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Price" class="control-label">Price</label>
                                                <input id="Price" name="Price" class="form-control" v-model="productFields.price" :placeholder="product.price" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Discount" class="control-label">Discount</label>
                                                <input id="Discount" name="Discount" class="form-control" v-model="productFields.discount" :placeholder="product.discount" />
                                            </div>

                                            <div class="form-group">
                                                <label for="SellingPrice" class="control-label">SellingPrice</label>
                                                <input id="sellingPrice" name="SellingPrice" class="form-control" v-model="productFields.sellingPrice" :placeholder="product.sellingPrice" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Category" class="control-label">Category</label>
                                                <input id="Category" name="Category" class="form-control" v-model="productFields.category" :placeholder="product.category" />
                                            </div>

                                            <div class="form-group">
                                                <label for="Tag" class="control-label">Tag</label>
                                                <input id="Tag" name="Tag" class="form-control" v-model="productFields.tag" :placeholder="product.tag" />
                                            </div>

                                        </div>

                                        <div class="col-6">

                                            <div class="form-group">

                                                <label for="PicturePath" class="control-lable">PicturePath</label>
                                                <input class="form-control" type="file" id="fileupload" name="PicturePath" onchange="ShowImagePreview(this)" />
                                                <img src="/images/product-5.png" id="imagePreview" alt="Product Style" width="360px" height="410px">
                                                @*<img :src="product.picturePath" id="imagePreview" alt="Product Picture" width="360" height="410px"/>*@
                                            </div>


                                            <div class="col-lg-12 col-md-3 ms-60 p-80 contact-form-style">
                                                <div class="col-lg-12 col-md-12 col-12 p-4 pe-0 contact-us-btn btn-hover">
                                                    <div>
                                                        <button type="button" class="submit" v-on:click="saveProductChange(@ViewBag.id)">Save Edit</button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script>

        function ShowImagePreview(input) {
            if (input.files && input.files[0]) {
                var fname = input.files[0].name;
                var re = /(\.jpg|\.jpeg|\.bmp|\.gif|\.png)$/i;
                if (!re.exec(fname)) {
                    alert("Image not supported!");
                    $("#fileupload").val("");

                    return false;
                }
                else {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#imagePreview').prop('src', e.target.result);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
        }

    let PEapp = new Vue({
    
        //el: "#EditProduct",
        data:
        {
            //queryEditBaseUrl: "/api/product/editbyid/",
            product: [],
            productFields:{
                    productId: null,
                    productName: null,
                    color: null,
                    size: null,
                    category: null,
                    price: null,
                    discount: null,
                    sellingPrice: null,
                    tag: null,
            }

        },

        mounted: function(){
            var self = this;
            fetch("/api/product/getbyid/"+"@ViewBag.id")

            .then(function(response){return response.json()})
            .then(function(result){
                console.log(result);
                self.product = result;
                //self.product.productId = @ViewBag.id,
                self.productFields.productId = @ViewBag.id
            })
        },

        methods: 
        {
            
            saveProductChange: function(id)
            {
                var self = this;
                self.queryEditBaseURL = '/api/product/editbyid/' + id;

                fetch(self.qureyEditBaseUrl ,{
                    method:"POST",
                        body: JSON.stringify(productFields)
                })
                    .then(function(response){return response.json()})
                    .then(function(result){
                        console.log(result);
                    })
            }             
        }

    });
        //內容都跑完後再載入Vue

        document.addEventListener("DOMContentLoaded", () => {
            PEapp.$mount('#EditProduct')
        })

</script>

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
