<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
﻿@model ArticleModel
=======
﻿@model ArticleDetailsModel
>>>>>>> [新增] 修改 Artical 資料內容類別定義表, 新增部落格發文功能, 將 CK Editor 純文字內容加入資料庫

<<<<<<< HEAD
<div class="container" id="blogDetailsApp" />

=======
﻿
>>>>>>> [更新] 修改 _Layout 中 AboutUs, Blog...以及 Vue 的引用連結. 新增相關控制器與檢視頁面
=======
﻿@model ArticleModel

>>>>>>> [更新] Article Details 檢視中部分元素, 改撈取資料庫資料出來顯示
=======
<div class="container" id="blogDetailsApp"/>
=======
﻿@*@model ArticleModel*@
=======
﻿@model ArticleModel
>>>>>>> [修正] Blog Details 檢視中 @model 敘述

<div class="container" id="blogDetailsApp" />
>>>>>>> [更新] 部落格首頁、內容檢視頁面跳轉頁面（如：上下一筆文章、當前文章）的超連結邏輯

>>>>>>> [更新] 繼續修改部落格相關檢視頁面, 改寫用 Vue.js 撈取資料
<div class="breadcrumb-area bg-gray-4 breadcrumb-padding-1">
    <div class="container">
        <div class="breadcrumb-content text-center">
            <h2 data-aos="fade-up" data-aos-delay="200">Blog Details</h2>
            <ul data-aos="fade-up" data-aos-delay="400">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><i class="ti-angle-right"></i></li>
                <li>Blog Details</li>
            </ul>
        </div>
    </div>
    <div class="breadcrumb-img-1" data-aos="fade-right" data-aos-delay="200">
        <img src="~/assets/images/banner/breadcrumb-1.png" alt="">
    </div>
    <div class="breadcrumb-img-2" data-aos="fade-left" data-aos-delay="200">
        <img src="~/assets/images/banner/breadcrumb-2.png" alt="">
    </div>
</div>
<div class="blog-details-area pt-100 pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details-wrapper">
                    <div class="blog-details-img-date-wrap mb-35" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-details-img">
                            <img src="~/assets/images/blog/blog-details.png" alt="">
                        </div>
                        <div class="blog-details-date">
<<<<<<< HEAD
<<<<<<< HEAD
                            <h5 v-if="articleDay(article.createdAt)">{{ aDay }} <span v-if="getMonthName(article.createdAt)">{{ aMonth }}</span></h5>
=======
                            <h5>01 <span>May</span></h5>
>>>>>>> [更新] 修改 _Layout 中 AboutUs, Blog...以及 Vue 的引用連結. 新增相關控制器與檢視頁面
=======
                            <h5 v-if="articleDay(article.createdAt)">{{ aDay }} <span v-if="getMonthName(article.createdAt)">{{ aMonth }}</span></h5>
>>>>>>> [更新] 會員登入功能, 調整註冊功能
                        </div>
                    </div>
                    <div class="blog-meta-2" data-aos="fade-up" data-aos-delay="200">
                        <ul>
                            <li><a href="#">Furniture</a>,</li>
<<<<<<< HEAD
<<<<<<< HEAD
                            <li>By:<a href="#"> @Model.MemberName</a></li>
                        </ul>
                    </div>
                    <h1 data-aos="fade-up" data-aos-delay="200">@Model.Title</h1>
                    <p data-aos="fade-up" data-aos-delay="200">@Model.Content</p>
=======
                            <li>By:<a href="#"> Admin</a></li>
                        </ul>
                    </div>
                    <h1 data-aos="fade-up" data-aos-delay="200">Lorem ipsum dolor sit amet consec.</h1>
                    <p data-aos="fade-up" data-aos-delay="200">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio ullamco laboris nisi ut aliquip ex ea commodo conse Duis aute irure dolor in reprehenderit in voluptate velit esse cillumlt dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa quiq officia deserunt mollit anim id est laborum. </p>
>>>>>>> [更新] 修改 _Layout 中 AboutUs, Blog...以及 Vue 的引用連結. 新增相關控制器與檢視頁面
=======
                            <li>By:<a href="#"> @Model.MemberName</a></li>
                        </ul>
                    </div>
                    <h1 data-aos="fade-up" data-aos-delay="200">@Model.Title</h1>
                    <p data-aos="fade-up" data-aos-delay="200">@Model.Content</p>
>>>>>>> [更新] Article Details 檢視中部分元素, 改撈取資料庫資料出來顯示
                    <blockquote class="blockquote-wrap" data-aos="fade-up" data-aos-delay="200">
                        <div class="quote-img">
                            <img src="~/assets/images/icon-img/quote.png" alt="">
                        </div>
                        <h2>Lorem ipsum dolor sit amet, con adipis elit sed do eiusmod tempor incididunt ut labore et dolore.</h2>
                        <h4>Jont utdo</h4>
                    </blockquote>
                    <p data-aos="fade-up" data-aos-delay="200">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio ullamco laboris nisi ut aliquip ex ea commodo conse Duis aute irure dolor.</p>
                    <div class="blog-details-middle-img-wrap">
                        <div class="row">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> [更新] 部落格首頁、內容檢視頁面跳轉頁面（如：上下一筆文章、當前文章）的超連結邏輯
                            @{
                                int delayTime = 200;
=======
                            @* @{
                            int delayTime = 200;
>>>>>>> [更新修正] 修改 Article 表, 修正 CK Editor 後端無法正確收到編輯器內文
                            }
                            @foreach (var imagePath in Model.ContentImageFileNames)
<<<<<<< HEAD
=======
                           @{int delayTime = 200;}
                           @foreach(var imagePath in Model.ContentImageFileNames)
>>>>>>> [更新] Article Details 檢視中部分元素, 改撈取資料庫資料出來顯示
=======
>>>>>>> [更新] 部落格首頁、內容檢視頁面跳轉頁面（如：上下一筆文章、當前文章）的超連結邏輯
                            {
<<<<<<< HEAD
                                <div class="col-md-6 col-sm-6 col-12">
                                    <div class="blog-details-middle-img mb-30" data-aos="fade-up" data-aos-delay="@delayTime">
                                        <img src="@Url.Content(imagePath)" alt="">
                                    </div>
<<<<<<< HEAD
                                </div>
                                delayTime += 200;
                            }
=======
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="blog-details-middle-img mb-30" data-aos="fade-up" data-aos-delay="200">
                                    <img src="~/assets/images/blog/blog-details-2.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="blog-details-middle-img mb-30" data-aos="fade-up" data-aos-delay="400">
                                    <img src="~/assets/images/blog/blog-details-3.png" alt="">
                                </div>
                            </div>
>>>>>>> [更新] 修改 _Layout 中 AboutUs, Blog...以及 Vue 的引用連結. 新增相關控制器與檢視頁面
=======
                                </div>
                                delayTime += 200;
                            }
>>>>>>> [更新] Article Details 檢視中部分元素, 改撈取資料庫資料出來顯示
=======
                            <div class="col-md-6 col-sm-6 col-12">
                            <div class="blog-details-middle-img mb-30" data-aos="fade-up" data-aos-delay="@delayTime">
                            <img src="@Url.Content(imagePath)" alt="">
                            </div>
                            </div>
                            delayTime += 200;
                            }*@
>>>>>>> [更新修正] 修改 Article 表, 修正 CK Editor 後端無法正確收到編輯器內文
                        </div>
                    </div>
                    <p data-aos="fade-up" data-aos-delay="200">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut lab et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitatio ullamco laboris nisi ut aliquip ex ea commodo conse Duis aute irure dolor in reprehenderit in voluptate velit esse cillumlt dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa quiq officia deserunt mollit anim id est laborum. </p>
                    <div class="tag-social-wrap">
                        <div class="tag-wrap" data-aos="fade-up" data-aos-delay="200">
                            <span>Tags:</span>
                            <ul>
                                <li><a href="#">Furniture</a>,</li>
                                <li><a href="#">Electronic</a>,</li>
                                <li><a href="#">Fashion</a></li>
                            </ul>
                        </div>
                        <div class="social-comment-digit-wrap" data-aos="fade-up" data-aos-delay="400">
                            <div class="social-icon-style-2">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="comment-digit">
                                <a href="#">2 <i class="fa fa-comments"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-author-wrap-2" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-author-img-2">
                            <img src="~/assets/images/blog/blog-author-2.png" alt="">
                        </div>
                        <div class="blog-author-content-2">
                            <h2>Admin Name</h2>
                            <p>Lorem ipsum dolor sit amet, consecteg adipisicing elit sed do eius tempor incididunt ut lab et dolore magna aliqua. Ut enim ad minikl veniam, quis nostrud exercitatio.</p>
                            <div class="social-icon-style-3">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-glide-g"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="blog-next-previous-post" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-prev-post-wrap">
                            <div class="blog-prev-post-icon">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                                <a :href="articleLink(prevArticle.id)"><i class="fa fa-angle-left"></i></a>
                            </div>
                            <div class="blog-prev-post-content">
                                <h3><a :href="articleLink(prevArticle.id)">{{ prevArticle.title }}</a></h3>
=======
                                <a href="#"><i class="fa fa-angle-left"></i></a>
                            </div>
                            <div class="blog-prev-post-content">
                                <h3><a href="#">Lorem ipsum dolor sit amet cons ectetur</a></h3>
>>>>>>> [更新] 修改 _Layout 中 AboutUs, Blog...以及 Vue 的引用連結. 新增相關控制器與檢視頁面
=======
                                <a :href="articleLink(prevArticleId)"><i class="fa fa-angle-left"></i></a>
                            </div>
                            <div class="blog-prev-post-content">
                                <h3><a :href="articleLink(prevArticleId)">Lorem ipsum dolor sit amet cons ectetur</a></h3>
>>>>>>> [更新] 部落格首頁、內容檢視頁面跳轉頁面（如：上下一筆文章、當前文章）的超連結邏輯
=======
                                <a :href="articleLink(prevArticle.id)"><i class="fa fa-angle-left"></i></a>
                            </div>
                            <div class="blog-prev-post-content">
                                <h3><a :href="articleLink(prevArticle.id)">{{ prevArticle.title }}</a></h3>
>>>>>>> [更新] 會員登入功能, 調整註冊功能
                                <span>June 25, 2022</span>
                            </div>
                        </div>
                        <div class="blog-next-post-wrap">
                            <div class="blog-next-post-icon">
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
                                <a :href="articleLink(nextArticle.id)"> <i class="fa fa-angle-right"></i> </a>
                            </div>
                            <div class="blog-next-post-content">
                                <h3><a :href="articleLink(nextArticle.id)">{{ nextArticle.title }}</a></h3>
=======
                                <a href="#"> <i class="fa fa-angle-right"></i> </a>
                            </div>
                            <div class="blog-next-post-content">
                                <h3><a href="#">Lorem ipsum dolor sit amet cons ectetur</a></h3>
>>>>>>> [更新] 修改 _Layout 中 AboutUs, Blog...以及 Vue 的引用連結. 新增相關控制器與檢視頁面
=======
                                <a :href="articleLink(nextArticleId)"> <i class="fa fa-angle-right"></i> </a>
                            </div>
                            <div class="blog-next-post-content">
                                <h3><a :href="articleLink(nextArticleId)">Lorem ipsum dolor sit amet cons ectetur</a></h3>
>>>>>>> [更新] 部落格首頁、內容檢視頁面跳轉頁面（如：上下一筆文章、當前文章）的超連結邏輯
=======
                                <a :href="articleLink(nextArticle.id)"> <i class="fa fa-angle-right"></i> </a>
                            </div>
                            <div class="blog-next-post-content">
                                <h3><a :href="articleLink(nextArticle.id)">{{ nextArticle.title }}</a></h3>
>>>>>>> [更新] 會員登入功能, 調整註冊功能
                                <span>June 25, 2022</span>
                            </div>
                        </div>
                    </div>
                    <div class="blog-comment-wrapper">
                        <h4 class="blog-dec-title" data-aos="fade-up" data-aos-delay="200">Comments (02)</h4>
                        <div class="single-comment-wrapper single-comment-border" data-aos="fade-up" data-aos-delay="400">
                            <div class="blog-comment-img">
                                <img src="~/assets/images/blog/blog-comment-1.png" alt="">
                            </div>
                            <div class="blog-comment-content">
                                <div class="comment-info-reply-wrap">
                                    <div class="comment-info">
                                        <span>October 14, 2022 </span>
                                        <h4>Anthony Stephens</h4>
                                    </div>
                                    <div class="comment-reply">
                                        <a href="#">Reply</a>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consecteg adipisicing elit sed do eius tempor incididunt ut lab et dolore magna aliqua. Ut enim ad minikl veniam, quis nostrud exercitatio. </p>
                            </div>
                        </div>
                        <div class="single-comment-wrapper single-comment-ml" data-aos="fade-up" data-aos-delay="600">
                            <div class="blog-comment-img">
                                <img src="~/assets/images/blog/blog-comment-2.png" alt="">
                            </div>
                            <div class="blog-comment-content">
                                <div class="comment-info-reply-wrap">
                                    <div class="comment-info">
                                        <span>October 14, 2022 </span>
                                        <h4>DX Joxova</h4>
                                    </div>
                                    <div class="comment-reply">
                                        <a href="#">Reply</a>
                                    </div>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmodl tempor incididunt ut labore et dolore </p>
                            </div>
                        </div>
                    </div>
                    <div class="blog-comment-form-wrap">
                        <div class="blog-comment-form-title">
                            <h2 data-aos="fade-up" data-aos-delay="200">Leave a Reply</h2>
                            <p data-aos="fade-up" data-aos-delay="400">Your email address will not be published. please fill out this form.</p>
                        </div>
                        <div class="blog-comment-form">
                            <form action="#">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <div class="single-blog-comment-form" data-aos="fade-up" data-aos-delay="200">
                                            <input type="text" placeholder="Your Name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <div class="single-blog-comment-form" data-aos="fade-up" data-aos-delay="300">
                                            <input type="email" placeholder="Your Mail">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="single-blog-comment-form" data-aos="fade-up" data-aos-delay="400">
                                            <input type="text" placeholder="Your Website">
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="single-blog-comment-form" data-aos="fade-up" data-aos-delay="500">
                                            <textarea placeholder="Comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="single-blog-comment-checkbox" data-aos="fade-up" data-aos-delay="600">
                                            <input type="checkbox">
                                            <label>Save my name, email, and website in this browser for the next time I comment.</label>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12">
                                        <div class="comment-submit-btn btn-hover" data-aos="fade-up" data-aos-delay="700">
                                            <button class="submit" type="submit">Post Comment <i class=" ti-arrow-right"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="sidebar-wrapper blog-sidebar-mt">
                    <div class="sidebar-widget mb-50" data-aos="fade-up" data-aos-delay="200">
                        <div class="search-wrap-3">
                            <form class="search-3-form" action="#">
                                <input placeholder="Search*" type="text">
                                <button class="button-search"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-50" data-aos="fade-up" data-aos-delay="200">
                        <div class="blog-author-content text-center">
                            <a asp-controller="Blog" asp-action="Details"><img src="~/assets/images/blog/blog-author.png" alt=""></a>
                            <h2>Writer Name</h2>
                            <h4>Blog Writer</h4>
                            <div class="social-icon-style-1">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-glide-g"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title-2 mb-25">
                            <h3>Categories</h3>
                        </div>
                        <div class="sidebar-list-style-2">
                            <ul>
                                <li><a asp-controller="Blog" asp-action="Sidebar">Blog Grid View (09)</a></li>
                                <li><a asp-controller="Blog" asp-action="Sidebar">Latest blog (02)</a></li>
                                <li><a asp-controller="Blog" asp-action="Sidebar">Our Blog (12)</a></li>
                                <li><a asp-controller="Blog" asp-action="Sidebar">Uncategorized (107)</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-40" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title-2 mb-30">
                            <h3>Latest Post</h3>
                        </div>
                        <div class="latest-post-wrap">
                            <div class="single-latest-post">
                                <div class="latest-post-img">
                                    <a asp-controller="Blog" asp-action="Details"><img src="~/assets/images/blog/latest-post-1.png" alt=""></a>
                                </div>
                                <div class="latest-post-content">
                                    <span>01 May 2022</span>
                                    <h4><a asp-controller="Blog" asp-action="Details">Lorem ipsum dolor sit am conse ctetur adipis</a></h4>
                                    <div class="latest-post-btn">
                                        <a asp-controller="Blog" asp-action="Details">Continue Reading...</a>
                                    </div>
                                </div>
                            </div>
                            <div class="single-latest-post">
                                <div class="latest-post-img">
                                    <a asp-controller="Blog" asp-action="Details"><img src="~/assets/images/blog/latest-post-2.png" alt=""></a>
                                </div>
                                <div class="latest-post-content">
                                    <span>08 Dec 2022</span>
                                    <h4><a asp-controller="Blog" asp-action="Details">Phasellus vehicula sit amet nibh vitae posuere</a></h4>
                                    <div class="latest-post-btn">
                                        <a asp-controller="Blog" asp-action="Details">Continue Reading...</a>
                                    </div>
                                </div>
                            </div>
                            <div class="single-latest-post">
                                <div class="latest-post-img">
                                    <a asp-controller="Blog" asp-action="Details"><img src="~/assets/images/blog/latest-post-3.png" alt=""></a>
                                </div>
                                <div class="latest-post-content">
                                    <span>01 Feb 2022</span>
                                    <h4><a asp-controller="Blog" asp-action="Details">Class aptent taciti sociosqu ad litora torquent</a></h4>
                                    <div class="latest-post-btn">
                                        <a asp-controller="Blog" asp-action="Details">Continue Reading...</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="sidebar-widget mb-35" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-widget-title-2 mb-30">
                            <h3>Tags</h3>
                        </div>
                        <div class="sidebar-widget-tag-2">
                            <a href="#">Furniture</a>
                            <a href="#">Electronic</a>
                            <a href="#">Home Decore</a>
                            <a href="#">Design Home</a>
                            <a href="#">Furniture</a>
                        </div>
                    </div>
                    <div class="sidebar-widget" data-aos="fade-up" data-aos-delay="200">
                        <div class="sidebar-banner">
                            <a asp-controller="Home" asp-action="ProductDetails"><img src="~/assets/images/banner/banner-29.png" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<<<<<<< HEAD
<<<<<<< HEAD

@section Scripts{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.6/axios.min.js" integrity="sha512-RUkwGPgBmjCwqXpCRzpPPmGl0LSFp9v5wXtmG41+OS8vnmXybQX5qiG5adrIhtO03irWCXl+z0Jrst6qeaLDtQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
    <script>
=======

@section Scripts{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.6/axios.min.js" integrity="sha512-RUkwGPgBmjCwqXpCRzpPPmGl0LSFp9v5wXtmG41+OS8vnmXybQX5qiG5adrIhtO03irWCXl+z0Jrst6qeaLDtQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
    <script>
<<<<<<< HEAD
        Vue.component('paginate', VuejsPaginate);
>>>>>>> [更新] 繼續修改部落格相關檢視頁面, 改寫用 Vue.js 撈取資料
=======
>>>>>>> [更新] 會員登入功能, 調整註冊功能

        let blogDetailsVue = new Vue({
            //el:'#blogDetailsApp',
            name: "blogDetailsApp",
            data: {
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> [更新] 會員登入功能, 調整註冊功能
                article: {
                    id: null,
                    title: null,
                    createdAt: null
                },
                prevArticle: {
                    id: null,
                    title: null,
                    createdAt: null
                },
                nextArticle: {
                    id: null,
                    title: null,
                    createdAt: null
                },
                articleBaseLink: "/api/Blog/GetArticleById/",
                //articleBaseLink: "/Blog/Details/",
<<<<<<< HEAD
                articleId: null,
                articleCreateAt: null,
                currentPage: 1,
                aDay: null,
                aMonth: null,
            },
            mounted: function () {
                fetch(this.articleBaseLink + @Model.ArticleId).then(response => {
                    //handle the response and store the next article ID
                    console.log(response)
                });

                //let self = this
                this.article = {
                    id: @Model.ArticleId,
                    title: "@Model.Title",
                    createdAt: "@Model.CreateAt",
                };
                this.prevArticle = {
                    id: @Model.PrevArticleId,
                    title: "@Model.PrevArticleTitle",
                    createdAt: "@Model.PrevArticleCreateAt",
                };
                this.nextArticle = {
                    id: @Model.NextArticleId,
                    title: "@Model.NextArticleTitle",
                    createdAt: "@Model.NextArticleCreateAt",
                };

                console.log(this.article)
                console.log(this.prevArticle)
                console.log(this.nextArticle)
=======
                articles: [
                    {
                        id: 1,
                        title: '文章 1',
                        content: '接到民國手指全球最後，承諾汽車，手段經濟發展意外有所原來模型的人未經接着，我有玩家積極負責一遍開放男子利潤，治理免費都是詢問尤其一週社會主義模擬學科一場趕緊圖書的話，臺灣消失比例上一頁驚人至今新臺幣刪除等方面一路適當產權頻率，複雜那就那個還沒有，由於突出。',
                        createdAt: '2022-01-01'
                    },
                    {
                        id: 2,
                        title: '文章 2',
                        content: '身邊本書本書職工用戶名，鈴聲付出領域心理都說施工運動競爭鈴聲下載，地面從來沒以前學者英雄動畫員工校長文學你們的承受吸收模型用戶名，領先隊員一遍打開推薦使用私人想起有一種傳來擁有，緊緊你可以婚姻超級下載次數飯店，正在夫妻，點頭材料主角需求英文，宅宅許可，近。',
                        createdAt: '2022-01-02'
                    },
                    {
                        id: 3,
                        title: '文章 3',
                        content: '碩士試驗說過高達一家我不只好貢獻前來人大指出，以外所謂返回不良情感，帶來有點遠無門朋友提升交換，金幣前面見過拍攝紅色採取主演物業不用這次高校眼中，體會許可別人如下加速怎麼會，信用姑娘群發，競爭力程式老師博士，你還演唱生意，詳細內容日誌下去，您現在難道，供。',
                        createdAt: '2022-01-03'
                    },
                ],
                //articleBaseLink: "/api/Blog/GetArticleById/",
                articleBaseLink: "/Blog/Details/",
                prevArticleId: null,
=======
>>>>>>> [更新] 會員登入功能, 調整註冊功能
                articleId: null,
                articleCreateAt: null,
                currentPage: 1,
                aDay: null,
                aMonth: null,
            },
            mounted: function () {
<<<<<<< HEAD
<<<<<<< HEAD
                var self = this;
                fetch('/api/Blog/GetArticlesById/@Model')
                    .then(function (response) { return response.json() })
                    .then(function (result) {
                        console.log(result);
                        self.articles = result;
                    })
                //axios
                //    .get('/api/Blog/GetArticles')
                //    .then(response => (self.articles = response.data))
                //    .catch(error => console.log(error))
>>>>>>> [更新] 繼續修改部落格相關檢視頁面, 改寫用 Vue.js 撈取資料
=======
                //var self = this;
                this.articleId = @Model.ArticleId;
                this.prevArticleId = @Model.PrevArticleId;
                this.nextArticleId = @Model.NextArticleId;
                //console.log("Current ArticleID is ", this.articleId);
                //console.log("Prev ArticleID is ", this.prevArticleId);
                //console.log("Next ArticleID is ", this.nextArticleId);
                //this.prevArticleBaseLink = this.queryPrevArticleIdLink + this.articleId
                //this.nextArticleBaseLink = this.queryNextArticleIdLink + this.articleId
>>>>>>> [更新] 部落格首頁、內容檢視頁面跳轉頁面（如：上下一筆文章、當前文章）的超連結邏輯
=======
                fetch(this.articleBaseLink + @Model.ArticleId).then(response => {
                    //handle the response and store the next article ID
                    console.log(response)
                });

                //let self = this
                this.article = {
                    id: @Model.ArticleId,
                    title: "@Model.Title",
                    createdAt: "@Model.CreateAt",
                };
                this.prevArticle = {
                    id: @Model.PrevArticleId,
                    title: "@Model.PrevArticleTitle",
                    createdAt: "@Model.PrevArticleCreateAt",
                };
                this.nextArticle = {
                    id: @Model.NextArticleId,
                    title: "@Model.NextArticleTitle",
                    createdAt: "@Model.NextArticleCreateAt",
                };

                console.log(this.article)
                console.log(this.prevArticle)
                console.log(this.nextArticle)
>>>>>>> [更新] 會員登入功能, 調整註冊功能
            },
            methods: {
                clickCallback: function (page) {
                    this.currentPage = page;
                    console.log(page)
<<<<<<< HEAD
<<<<<<< HEAD
                },
                articleLink: function (id) {
                    return this.articleBaseLink + id
                },
                articleDay(currentDate) {
                    var date = new Date(currentDate);
                    this.aDay = date.getDate()
                    return this.aDay
                },
                getMonthName(currentDate) {
                    const date = new Date(currentDate)
                    this.aMonth = date.toLocaleString('default', { month: 'short' })
                    return this.aMonth
                },
            }
=======
                }
            },
>>>>>>> [更新] 繼續修改部落格相關檢視頁面, 改寫用 Vue.js 撈取資料
=======
                },
                articleLink: function (id) {
                    return this.articleBaseLink + id
                },
                articleDay(currentDate) {
                    var date = new Date(currentDate);
                    this.aDay = date.getDate()
                    return this.aDay
                },
                getMonthName(currentDate) {
                    const date = new Date(currentDate)
                    this.aMonth = date.toLocaleString('default', { month: 'short' })
                    return this.aMonth
                },
            }
>>>>>>> [更新] 部落格首頁、內容檢視頁面跳轉頁面（如：上下一筆文章、當前文章）的超連結邏輯
        })

        document.addEventListener("DOMContentLoaded", () => {
            blogDetailsVue.$mount('#blogDetailsApp')
        })
    </script>
}
<<<<<<< HEAD
=======
>>>>>>> [更新] 修改 _Layout 中 AboutUs, Blog...以及 Vue 的引用連結. 新增相關控制器與檢視頁面
=======
>>>>>>> [更新] 繼續修改部落格相關檢視頁面, 改寫用 Vue.js 撈取資料
